@charset "UTF-8";
.paddingBox{
    padding:0 10px 10px;
}
.mobile-config{
    width: 100%;
    padding: 15px;
}
.c_label{
    font-size: 14px;
    color: #999999;
}
.c_label span{
    margin-left: 10px;
    color: #333;
}
.c_row-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-box{
    margin-top: 20px;
    text-align: center;
}
.empty-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f5f7;
    border-radius: 6px;
}
.empty-box.on{
    border-radius: 0px;
}
.empty-box .iconfont-diy{
    color: #bbbfc8;
    font-size: 30px;
}
.form-modal-m{
    margin: -16px -16px 20px;
}
.min-w-0 {
  min-width: 0;
}
.w-full {
  width: 100%;
}
.w-14 {
  width: 14px;
}
.w-18 {
  width: 18px;
}
.w-22 {
  width: 22px;
}
.w-36 {
  width: 36px;
}
.w-60 {
  width: 60px;
}
.w-85 {
  width: 85px;
}
.w-100 {
  width: 100px !important;
}
.w-132 {
  width: 132px;
}
.w-118 {
  width: 118px !important;
}
.w-140 {
  width: 140px;
}
.w-160 {
  width: 160px;
}
.w-240{
	width: 240px !important;
}
.w-250 {
  width: 250px;
}
.w-300{
	width: 300px !important;
}
.w-408{
	width: 408px !important;
}
.w-467{
	width: 467px !important;
}
.w-320 {
  width: 320px;
}
.w-303 {
  width: 303px;
}
.w-3 {
  width: 3px;
}
.w-75 {
  width: 75px;
}
.h-full {
  height: 100%;
}
.h-18 {
  height: 18px;
}
.h-22 {
  height: 22px;
}
.h-32 {
  height: 32px;
}
.h-36 {
  height: 36px;
}
.h-52 {
  height: 52px;
}
.h-480 {
  height: 480px;
}
.h-88px {
  height: 88px;
}
.h-68 {
  height: 68px;
}
.h-16 {
  height: 16px;
}
.h-76 {
  height: 76px;
}
.h-100 {
  height: 100px;
}
.lh-14px {
  line-height: 14px;
}
.lh-32px {
  line-height: 32px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-6{
	margin-left: 6px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-13 {
  margin-left: 13px;
}
.ml-19 {
  margin-left: 19px;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-34 {
  margin-left: 34px;
}
.ml-45{
  margin-left: 45px !important;
}
.ml-10px,
.ml-10{
	margin-left: 10px;
}
.ml-16{
	margin-left: 16px;
}
.ml-24{
	margin-left: 24px;
}
.ml-20,
.ml-20px {
	margin-left: 20px;
}
.ml-110{
	margin-left: 110px;
}
.red{
  color: #e93323;
}
.acea-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* 辅助类 */
}

.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}

.acea-row.row-baseline {
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -o-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.acea-row.row-middle {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.acea-row.row-top {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.acea-row.row-bottom {
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.acea-row.row-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.acea-row.row-right {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.acea-row.row-left {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.acea-row.row-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.acea-row.row-around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.acea-row.row-column-around {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.acea-row.row-column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.acea-row.row-column-between {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* 上下左右垂直居中 */
.acea-row.row-center-wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* 上下两边居中对齐 */
.acea-row.row-between-wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.line1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
/*表单公共样式*/
html, body {
    font-size: 12px;
}

.ivu-table-wrapper {
    overflow: unset !important;
}

.ivu-select-single .ivu-select-selection {
font-size: 12px !important;
}
.ivu-select-placeholder {
    font-size: 12px !important;
}
.page {
    margin-top: 22px;
}

.vxe-table--loading {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.vxe-table--loading .vxe-table--spinner:after, .vxe-table--loading .vxe-table--spinner:before {
    width: 50% !important;
    height: 50% !important;
}

/*表格公共样式*/
.ivu-table-header table{
    border-top: none !important;

}
.ivu-form .ivu-form-item-label, .ivu-radio-group-button .ivu-radio-wrapper, .ivu-table,.ivu-select,.ivu-select-item {
    font-size: 12px !important;
}

.ivu-table-cell{
    padding: 6px 18px !important;
}

/* .ivu-table th {
    background: #fff !important;
} */
.ivu-table th {
    /*   background: rgba(240,250,255, .5) !important; */
       background: #F3F8FE !important;
    }
    /*鼠标悬停颜色*/
.ivu-table-row-hover td{
    background-color: #F3F8FE !important;
}
/*选中行高亮显示颜色*/
.ivu-table-row-highlight td{
    background-color: #F3F8FE !important;
}
.ivu-btn {
    font-size: 12px !important;
}

.ivu-icon-ios-refresh {
    color: #1890FF !important;
}

.product_tabs .ivu-tabs-bar {
    margin-bottom: 0 !important
}

.product_tabs .ivu-page-header {
    border-bottom: 0;
}

.product_tabs .ivu-page-header-content {
    margin-bottom: 0 !important
}

.ivu-checkbox-wrapper,
.ivu-radio-wrapper {
    font-size: 12px !important;
}

.ivu-input {
    font-size: 12px !important;
}

.modalBody .ivu-modal-body {
    padding: 27px !important;
}

.Modals .ivu-mt, .ivu-mt-16 {
    margin-top: 0 !important;
}

/*.Modals .ivu-table-border th, .ivu-table-border td{border-right:0!important;}*/
.Modals .ivu-form-item-content {
    line-height: unset;
}

.Modals .label .ivu-input {
    border: 1px solid #F5F5F5;
}

.Modals .ivu-table table {
    width: 100% !important;
}

.new_card_pd{
    padding:20px 20px 0;
}
.input-add {
    width:250px !important;
}

.input-280 {
	width: 280px;
}

/* 颜色 */
.font-color-red{
	color: #F43838!important;
}
.h50{
    height: 50px;
}
/*距离样式*/
.mr-2 {
  margin-right: 2px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr {
    margin-right: 15px;
}

.mr14 {
    margin-right:14px !important;
}

.mr10 {
    margin-right: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml16{
    margin-left:16px;
}

.ml20 {
    margin-left: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml40 {
    margin-left: 40px !important;
}
.ml95 {
    margin-left: 95px !important;
}
.ml14,
.ml-14 {
    margin-left: 14px;
}

.pt5 {
    padding: 5px 0 !important;
    box-sizing: border-box;
}

.pl10,
.pl-10{
    padding-left: 10px;
}

.mr50 {
    margin-right: 50px;
}

.mr20 {
    margin-right: 20px !important;
}

.mr15 {
    margin-right: 15px !important;
}
.mr5 {
    margin-right: 5px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mt15 {
    margin-top: 15px;
}

.mt2,
.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt30 {
    margin-top: 30px;
}

.mt25 {
    margin-top: 25px;
}

.mt20,
.mt-20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt10,
.mt-10{
    margin-top: 10px;
}
.mt6,
.mt-6{
  margin-top: 6px;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt8,
.mt-8{
  margin-top: 8px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-22 {
  margin-top: 22px;
}
.mb2,
.mb-2 {
  margin-bottom: 2px;
}
.mb10,
.mb-10 {
    margin-bottom: 10px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-22 {
  margin-bottom: 22px;
}
.pl15{
    padding-left: 15px!important;
}
.pt10,
.pt-10 {
    padding-top: 10px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-22 {
  padding-top: 22px;
}
.pb10,
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-22 {
  padding-bottom: 22px;
}
.pl-7 {
  padding-left: 7px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-14 {
  padding-left: 14px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-22 {
  padding-left: 22px;
}
.pr-7 {
  padding-right: 7px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-47 {
  padding-right: 47px;
}
.pr-22 {
  padding-right: 22px;
}
.rd-2px {
  border-radius: 2px;
}
.rd-5px {
  border-radius: 5px;
}
.rd-4px {
  border-radius: 4px;
}
.rd-7px {
  border-radius: 7px;
}

.bg-w111-F9F9F9{
  background-color: #F9F9F9;
}

.bg-w111-FDF6EC {
	background-color: #FDF6EC;
}

.bg-w111-1890FF{
  background: #1890FF;
}

.bg-w111-F5F7FA{
  background: #F5F7FA;
}

.bg-w111-FFFFFF{
  background: #FFFFFF;
}

.bg--w111-ccc {
  @un-bg-opacity: 1;
  background-color: rgba(204, 204, 204, @un-bg-opacity);
}
.text-606266{
	color: #606266;
}
.text-wlll-f5222d{
	color: #f5222d;
}
.text-wlll-E6A23C{
	color: #E6A23C;
}
.text-wlll-1890FF{
	color: #1890FF;
}
.text-wlll-909399{
   color: #909399 !important;
}
.text-wlll-2d8cf0{
	color: #2d8cf0;
}
.text-wlll-39c15b{
	color: #39c15b;
}
.text-wlll-515A6E{
	color: #515A6E;
}
.text-wlll-fff{
	color: #ffffff;
}
.text-wlll-303133{
  color: #303133;
}
.text-wlll-000-85 {
  color: rgba(0, 0, 0, 0.85);
}
.text--w111-fff {
  @un-text-opacity: 1;
  color: rgba(255, 255, 255, @un-text-opacity);
}
.text--w111-999 {
  @un-text-opacity: 1;
  color: rgba(153, 153, 153, @un-text-opacity);
}
.text--w111-e93323 {
  @un-text-opacity: 1;
  color: rgba(233, 51, 35, @un-text-opacity);
}
.text--w111-666 {
  color: #666666;
}

.width23 {
    width: 230px !important;
}
.width30 {
    width: 300px !important;
}
.width20 {
    width: 200px !important;
}
.width15 {
    width: 150px !important;
}
.display-add {
    display:none !important;
}

.index_bg {
    width: 100%;
    /*height: 100vh;*/
    background: rgba(0, 0, 0, .6) !important;
    z-index: 0 !important;
}

.ivu-divider-horizontal {
    /*margin-bottom: 0 !important;*/
    /*margin: 0 !important;*/
}

/*设置导航菜单*/
.i-layout-menu-side-title-icon-single .ivu-icon {
    font-size: 20px;
}
.ivu-layout-content{
    position: relative;
}
.ivu-form-item-content {
    font-size: 12px !important;
}

/*字体上移变蓝色*/
.font-blue:hover {
    color:#2D8cF0;
    cursor:pointer;
}

/*作用于运费模板组件*/
.Modals .ivu-table .ivu-table-header table{
    border-top: 0 !important;
}

.ivu-table-cell{
    padding: 10px 0 !important;
}
.ivu-table-cell-with-expand{
    line-height: 31px !important;
}
/*tab标签栏*/
.i-layout-tabs-fix{
    z-index: 5 !important;
}
/*全局表格加padding*/
.ivu-table th, .ivu-table td{
    padding: 0 5px;
}
/*全局表格设置浮动样式*/
.ivu-table-fixed-right th,.ivu-table-fixed-right td{
    text-align: center !important;
}
.ivu-table-fixed-right{
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.1) !important;
    top: 1px !important;
}
.ivu-table-fixed-right tr:last-child(1) td{
    border-bottom: 0;
}
.ivu-table-fixed::before, .ivu-table-fixed-right::before{
    background-color: unset !important;
}
.ivu-table:before{
    background-color: unset !important;
}
.ivu-table-fixed-body{
    background-color: #fff;
    overflow: unset !important;
}

.ivu-table-header thead tr th:nth-of-type(1){
    padding-left: 16px;
}
.ivu-table td:nth-of-type(1){
    padding-left: 16px;
}
.ivu-table-cell-expand{
    text-align: left;
}
.vxe-header--row th:nth-of-type(1){
    padding-left: 10px !important;
}
.vxe-table--body td:nth-of-type(1){
    padding-left: 10px !important;
}
/* .ivu-modal-header{
    background: #fafafa;
} */

.perW100{
width: 100%!important;
}
.perW90{
width: 90%!important;
}
.perW50{
width: 50%!important;
}
.perW20{
width: 20%!important;
}
.perW35{
width: 35%!important;
}
.perW30{
width: 30%!important;
}

/* vxe-table隐藏边框 */
.vxe-table--render-default .vxe-table--border-line{
    border: none !important;
}
/* vxe-table表头颜色修改 */
.vxe-table--render-default.border--default .vxe-table--header-wrapper, .vxe-table--render-default.border--full .vxe-table--header-wrapper, .vxe-table--render-default.border--outer .vxe-table--header-wrapper{
    background: #F3F8FE !important;
}

.vxe-table--render-default .vxe-cell{
	font-size: 12px;
	padding: 3px 10px;
}

.btnOn{
	padding: 0 29px !important;
}

.exampleImg img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.w-52 {
  width: 52px;
}
.flex-1 {
  flex: 1;
}

.flex-33 {
  flex: 0 0 33.33%;
}
.fs-10 {
  font-size: 10px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px;
}

.fs-normal {
	font-style: normal;
}

.fw-500{
  font-weight: 500;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.t-f5 {
	top: -5px;
}
.r-f5 {
	right: -5px;
}
.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-999 {
  z-index: 999;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cup {
  cursor: pointer;
}

.block {
  display: block;
}

.white-space-normal {
  white-space: normal;
}

.ivu-btn-text {
	border-color: #dcdee2 !important;
	background-color: #fff !important;
}

.b,
.border {
  border-width: 1px;
}

.b-solid {
  border-style: solid;
}

.b-w111-E7E7E7{
  border-color:#E7E7E7
}

.flex-y-center {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}

.border-dcdee2 {
	border: 1px solid #dcdee2;
}

.rd-4 {
	border-radius: 4px;
}

.overflow-hidden {
  overflow: hidden;
}