@charset "UTF-8";
.paddingBox {
    padding: 0 10px 10px;
}

.mobile-config {
    width: 100%;
    padding: 15px;
}

.c_label {
    font-size: 14px;
    color: #999999;
}

.c_label span {
    margin-left: 10px;
    color: #333;
}

.c_row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box {
    margin-top: 20px;
    text-align: center;
}

.empty-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f5f7;
    border-radius: 6px;
}

.empty-box.on {
    border-radius: 0px;
}

.empty-box .iconfont-diy {
    color: #bbbfc8;
    font-size: 30px;
}

.acea-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* 辅助类 */
}

.acea-row.row-middle {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.acea-row.row-top {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.acea-row.row-bottom {
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.acea-row.row-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.acea-row.row-right {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.acea-row.row-left {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.acea-row.row-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.acea-row.row-around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.acea-row.row-column-around {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.acea-row.row-column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.acea-row.row-column-between {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* 上下左右垂直居中 */
.acea-row.row-center-wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* 上下两边居中对齐 */
.acea-row.row-between-wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.line1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*表单公共样式*/
html, body {
    font-size: 12px;
}

.ivu-table {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;

}

.ivu-table-wrapper {
    overflow: unset !important;
}


.page {
    margin-top: 22px;
}

.vxe-table--loading {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.vxe-table--loading .vxe-table--spinner:after, .vxe-table--loading .vxe-table--spinner:before {
    width: 50% !important;
    height: 50% !important;
}

/*表格公共样式*/
.ivu-table-header table {
    background-color: #EEEEEE;

}

.ivu-form .ivu-form-item-label, .ivu-radio-group-button .ivu-radio-wrapper, .ivu-table, .ivu-select, .ivu-select-item {
    font-size: 14px !important;
}

.ivu-table-cell {
    padding: 6px 18px !important;
}

.ivu-table th {
    /*background: #fff !important;*/
}

.ivu-btn {
    font-size: 12px !important;
}

.ivu-icon-ios-refresh {
    color: #1890FF !important;
}

.product_tabs .ivu-tabs-bar {
    margin-bottom: 0 !important
}

.product_tabs .ivu-page-header {
    border-bottom: 0;
}

.product_tabs .ivu-page-header-content {
    margin-bottom: 0 !important
}

.ivu-radio-wrapper {
    font-size: 12px !important;
}

.ivu-input {
    font-size: 14px !important;
}

.modalBody .ivu-modal-body {
    padding: 27px !important;
}

.Modals .ivu-mt, .ivu-mt-16 {
    margin-top: 0 !important;
}

/*.Modals .ivu-table-border th, .ivu-table-border td{border-right:0!important;}*/
.Modals .ivu-form-item-content {
    line-height: unset;
}

.Modals .label .ivu-input {
    border: 1px solid #F5F5F5;
}

.Modals .ivu-table table {
    width: 100% !important;
}


/*距离样式*/

.m-auto{
	margin: 0 auto;
}

.mr {
    margin-right: 15px;
}

.mr10,
.mr-10 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
    margin-right: 48px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px !important;
}

.ml41 {
    margin-left: 41px !important;
}

.ml95 {
    margin-left: 95px !important;
}

.ml-4{
	margin-left: 4px;
}

.ml-5{
	margin-left: 5px;
}

.ml-6{
	margin-left: 6px;
}

.ml-7{
	margin-left: 7px;
}

.ml-10{
	margin-left: 10px;
}

.ml-12{
	margin-left: 12px;
}

.ml-15{
	margin-left: 15px;
}

.ml-16{
	margin-left: 16px;
}

.ml-20{
	margin-left: 20px;
}

.ml-24{
	margin-left: 24px;
}

.ml-25{
	margin-left: 25px;
}

.pt5 {
    padding: 5px 0 !important;
    box-sizing: border-box;
}

.mr50 {
    margin-right: 50px;
}

.mr20 {
    margin-right: 20px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr-68 {
  margin-right: 68px;
}

.mr-19 {
  margin-right: 19px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb-11 {
    margin-bottom: 11px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-26 {
    margin-bottom: 26px;
}


.mb30,
.mb-30 {
    margin-bottom: 30px !important;
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mt25 {
    margin-top: 25px;
}

.mt22 {
    margin-top: 22px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mt-f3 {
    margin-top: -3px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10,
.mt10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20,
.mt20 {
    margin-top: 20px;
}

.mt-22 {
    margin-top: 22px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-25 {
    margin-top: 25px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-42 {
    margin-top: 42px !important;
}

.mt-46 {
    margin-top: 46px !important;
}

.mt-48 {
    margin-top: 48px;
}

.mt-60 {
  margin-top: 60px;
}

.p-4-12 {
	padding: 4px 12px;
}

.p-0 {
	padding: 0 !important;
}

.pt-4 {
	padding-top: 4px;
}

.pt-5 {
	padding-top: 5px;
}

.p-10 {
	padding: 10px;
}

.pt-12 {
	padding-top: 12px;
}

.pt-12-5 {
	padding-top: 12.5px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-26 {
  padding-top: 26px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-12-5 {
  padding-bottom: 12.5px;
}

.pb-13 {
  padding-bottom: 13px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-17 {
  padding-bottom: 17px;
}

.pl-6{
  padding-left: 6px;
}

.pl-7{
  padding-left: 7px;
}

.pl-8{
  padding-left: 8px;
}

.pl-12{
  padding-left: 12px;
}

.pl-12-5{
  padding-left: 12.5px;
}

.pl15 {
    padding-left: 15px !important;
}

.pl-16{
  padding-left: 16px;
}

.pl-20{
  padding-left: 20px;
}

.pl-26{
  padding-left: 26px;
}

.pl-40{
  padding-left: 40px;
}

.pr-6 {
  padding-right: 6px;
}

.pr-7 {
  padding-right: 7px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-12-5 {
  padding-right: 12.5px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-74 {
  padding-right: 74px;
}

.pr-8 {
  padding-right: 8px;
}

.px-6{
	padding-left: 6px;
	padding-right: 6px;
}

.px-15{
	padding-left: 15px;
	padding-right: 15px;
}

.px-24{
	padding-left: 24px;
	padding-right: 24px;
}

.px-25{
	padding-left: 25px;
	padding-right: 25px;
}

.auto{
	margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-1{
	flex: 1;
}

.flex-33{
	flex: 0 0 33.33%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.m-w-0 {
	min-width: 0;
}

.m-w-39 {
	min-width: 39px;
}

.m-w-494 {
	min-width: 494px;
}

.w-full{
	width: 100% !important;
}

.w-3 {
	width: 3px;
}

.w-30 {
	width: 30px !important;
}

.w-36 {
	width: 36px !important;
}

.w-39 {
	width: 39px;
}

.w-40 {
	width: 40px;
}

.w-44 {
	width: 44px;
}

.w-48 {
	width: 48px;
}

.w-58 {
	width: 58px;
}

.w-67 {
	width: 67px !important;
}

.w-70 {
	width: 70px;
}

.w-72 {
	width: 72px;
}

.w-75 {
	width: 75px !important;
}

.w-78 {
	width: 78px;
}

.w-80 {
	width: 80px !important;
}

.w-84 {
	width: 84px;
}

.w-85 {
	width: 85px;
}

.w-97 {
	width: 97px;
}

.w-100 {
	width: 100px;
}

.w-120 {
	width: 120px;
}

.w-124 {
	width: 124px;
}

.w-129 {
	width: 129px !important;
}

.w-134 {
	width: 134px;
}

.w-142 {
	width: 142px !important;
}

.w-144 {
	width: 144px !important;
}

.w-152 {
	width: 152px;
}

.w-166 {
	width: 166px;
}

.w-170 {
	width: 170px !important;
}

.w-172 {
	width: 172px;
}

.w-176 {
	width: 176px;
}

.w-179 {
	width: 179px;
}

.w-215 {
	width: 215px;
}

.w-222 {
	width: 222px !important;
}

.w-240 {
	width: 240px;
}

.w-250 {
	width: 250px !important;
}

.w-284 {
	width: 284px;
}

.w-303 {
	width: 303px;
}

.w-316 {
	width: 316px;
}

.w-372 {
	width: 372px;
}

.w-400 {
	width: 400px;
}

.w-408 {
	width: 408px !important;
}

.w-458 {
	width: 458px;
}

.w-480 {
	width: 480px;
}

.w-490 {
	width: 490px;
}

.w-500 {
	width: 500px !important;
}

.w-522 {
	width: 522px;
}

.w-614 {
	width: 614px !important;
}

.w-761 {
  width: 761px;
}

.w-126 {
  width: 126px;
}

.max-w-400 {
	max-width: 400px;
}

.max-w-124 {
	max-width: 124px;
}

/* .max-h-188{
	max-height: 800px;
} */

.h-full {
	height: 100% !important;
}

.h-15 {
	height: 15px;
}

.h-17 {
	height: 17px;
}

.h-19 {
	height: 19px;
}

.h-21 {
  height: 21px;
}

.h-23 {
	height: 23px !important;
}

.h-24 {
	height: 24px;
}

.h-25 {
	height: 25px;
}

.h-28 {
	height: 28px;
}

.h-30 {
	height: 30px !important;
}

.h-36 {
	height: 36px;
}

.h-40 {
	height: 40px !important;
}

.h-42 {
	height: 42px;
}

.h-44 {
	height: 44px;
}

.h-45 {
	height: 45px;
}

.h-46 {
	height: 46px !important;
}

.h-48 {
	height: 48px !important;
}

.h-49 {
	height: 49px !important;
}

.h-50 {
	height: 50px !important;
}

.h-52 {
	height: 52px !important;
}

.h-60 {
	height: 60px;
}

.h-62 {
	height: 62px !important;
}

.h-58 {
	height: 58px !important;
}

.h-80 {
	height: 80px !important;
}

.h-90 {
	height: 90px;
}

.h-114 {
	height: 114px;
}

.h-155 {
	height: 155px;
}

.h-16 {
	height: 16px;
}

.h-76 {
	height: 76px;
}

.lh-15 {
	line-height: 15px;
}

.lh-17 {
	line-height: 17px;
}

.lh-19 {
	line-height: 19px;
}

.lh-34 {
	line-height: 34px;
}

.lh-36 {
	line-height: 36px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.border-dashed-top-1-EEEEEE {
	border-top: 1px dashed #EEEEEE;
}

.border-dashed-top-1-CCCCCC {
	border-top: 1px dashed #CCCCCC;
}

.border-b-1-EAEAEA {
	border-bottom: 1px solid #EAEAEA;
}

.border-1-DDDDDD {
	border: 1px solid #DDDDDD;
}

.border-1-DCDEE2 {
	border: 1px solid #DCDEE2;
}

.border-1-2A7EFB {
	border: 1px solid #2A7EFB;
}

.border-1-1890FF {
	border: 1px solid #1890FF;
}

.border-1-FF7700 {
	border: 1px solid #FF7700;
}

.border-1-FACC7D {
	border: 1px solid #FACC7D;
}

.fs-12{
	font-size: 12px;
}

.fs-13{
	font-size: 13px;
}

.fs-14{
	font-size: 14px;
}

.fs-15{
	font-size: 15px;
}

.fs-16{
	font-size: 16px !important;
}

.fs-18{
	font-size: 18px;
}

.fs-19{
	font-size: 19px !important;
}

.fs-20{
	font-size: 20px;
}

.fs-23{
	font-size: 23px;
}

.fs-24{
	font-size: 24px;
}

.fs-27{
	font-size: 27px !important;
}

.fs-32{
	font-size: 32px;
}

.fs-36{
	font-size: 36px;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.rd-30px{
	border-radius: 30px !important;
}

.rd-4{
	border-radius: 4px;
}

.rd-6{
	border-radius: 6px;
}

.rd-8{
	border-radius: 8px;
}

.rd-20{
	border-radius: 20px !important;
}

.rd-25{
	border-radius: 25px;
}

.rd-50{
	border-radius: 50px;
}

.rd-10{
	border-radius: 10px;
}

.rd-23{
	border-radius: 23px !important;
}

.text-wlll-1890FF{
	color: #1890FF;
}

.text-wlll-2A7EFB{
	color: #2A7EFB;
}

.text-wlll-248BFF{
	color: #248BFF;
}

.text-wlll-FF4F43{
	color: #FF4F43;
}

.text-wlll-F95E45{
	color: #F95E45;
}

.text-wlll-E93323{
	color: #E93323;
}

.text-wlll-FFB200{
	color: #FFB200;
}

.text-wlll-FF7700{
	color: #FF7700;
}

.text-wlll-FF8D30{
	color: #FF8D30;
}

.text-wlll-FE9951{
	color: #FE9951;
}

.text-wlll-23C471{
	color: #23C471;
}

.text-wlll-45D040{
	color: #45D040;
}

.text-wlll-999999{
	color: #999999;
}

.text-wlll-909399{
	color: #909399;
}

.text-wlll-606266{
	color: #606266;
}

.text-wlll-303133{
	color: #303133;
}

.text-wlll-333333{
	color: #333333;
}

.text-wlll-f5222d{
	color: #f5222d;
}

.text-wlll-FF7700{
	color: #FF7700;
}

.text-wlll-FFFFFF{
	color: #FFFFFF;
}

.text-wlll-EEEEEE{
	color: #EEEEEE;
}

.text-wlll-DFA541{
	color: #DFA541;
}

.text-wlll-F5222D-50{
	color: rgba(245, 34, 45, 0.5);
}

.text-wlll-303133-50{
	color: rgba(48, 49, 51, 0.5)
}

.bg-w111-FAFAFA{
	background-color: #FAFAFA;
}

.bg-w111-F5F5F5{
	background-color: #F5F5F5;
}

.bg-w111-FFFFFF{
	background-color: #FFFFFF;
}

.bg-w111-F9F9F9{
	background-color: #F9F9F9;
}

.bg-w111-1890FF{
	background-color: #1890FF;
}

.bg-w111-FEF0D9{
	background-color: #FEF0D9;
}

.bg-w111-1890FF-8{
	background-color: rgba(42,126,251,0.08);
}

.bg-w111-FF8D30-8{
	background-color: rgba(255,141,48,0.08);
}

.bg-w111-23C471-8{
	background-color: rgba(35,196,113,0.08);
}

.bg-w111-F95E45-8{
	background-color: rgba(249,94,69,0.08);
}

.bg-w111-303133-60{
	background-color: rgba(48, 49, 51, 0.6);
}

.pointer{
	cursor: pointer
}

.fixed{
	position: fixed;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.right-0{
	right: 0;
}

.right-23{
	right: 23px;
}

.top-0{
	top: 0;
}

.top-21{
	top: 21px;
}

.left-0{
	left: 0;
}

.left-12{
	left: 12px;
}

.bottom-0{
	bottom: 0;
}

.bottom-f16{
	bottom: -16px;
}

.z-9{
	z-index: 9;
}

.bnt-F5F5F5{
	background-color: #F5F5F5 !important;
	border:1px solid #F5F5F5 !important;
}

.index_bg {
    width: 100%;
    /*height: 100vh;*/
    background: rgba(0, 0, 0, .6) !important;
    z-index: 0 !important;
}

.ivu-divider-horizontal {
    /*margin-bottom: 0 !important;*/
    /*margin: 0 !important;*/
}

/*设置导航菜单*/
.i-layout-menu-side-title-icon-single .ivu-icon {
    font-size: 20px;
}

.ivu-layout-content {
    position: relative;
}

.ivu-form-item-content {
    font-size: 12px !important;
}

/*字体上移变蓝色*/
.font-blue:hover {
    color: #2D8cF0;
    cursor: pointer;
}

/*作用于运费模板组件*/
.Modals .ivu-table .ivu-table-header table {
    border-top: 0 !important;
}

.ivu-table-cell {
    padding: 10px 0 !important;
}

.ivu-table-cell-with-expand {
    line-height: 31px !important;
}

/*tab标签栏*/
.i-layout-tabs-fix {
    z-index: 5 !important;
}

/*全局表格加padding*/
.ivu-table th, .ivu-table td {
    /* padding: 0 5px; */
}

/*全局表格设置浮动样式*/
.ivu-table-fixed-right th, .ivu-table-fixed-right td {
    text-align: center !important;
}

.ivu-table-fixed-right {
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.1) !important;
    top: 1px !important;
}

.ivu-table-fixed-right tr:last-child(1) td {
    border-bottom: 0;
}

.ivu-table-fixed::before, .ivu-table-fixed-right::before {
    background-color: unset !important;
}

.ivu-table:before {
    background-color: unset !important;
}

.ivu-table-fixed-body {
    background-color: #fff;
    overflow: unset !important;
}

.ivu-table-header thead tr th:nth-of-type(1) {
    padding-left: 16px;
}

.ivu-table td:nth-of-type(1) {
    padding-left: 16px;
}

.ivu-table-cell-expand {
    text-align: left;
}

.vxe-header--row th:nth-of-type(1) {
    padding-left: 10px !important;
}

.vxe-table--body td:nth-of-type(1) {
    padding-left: 10px !important;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center-modal .ivu-modal {
    top: 0;
}

.perW100 {
    width: 100% !important;
}

.perW90 {
    width: 90% !important;
}

.perW50 {
    width: 50% !important;
}

.perW20 {
    width: 20% !important;
}

.perW35 {
    width: 35% !important;
}

.perW30 {
    width: 30% !important;
}

.ivu-modal-header-inner {
  font-size: 18px !important;
}

.ivu-btn-text {
	border-color: #dcdee2 !important;
	background-color: #fff !important;
}

.text--w111-eee{
	color: #eee !important;
}

.text--w111-666{
  color: #666666;
}

.fc-tooltip {
  .reservation-type {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin-right: 4px;
  }
  .ivu-tooltip-inner-with-width {
    white-space: normal;
  }
}

.overflow{
	overflow: hidden;
}

.white-space-normal {
  white-space: normal;
}